body {
  margin: 0px; /* Remove default margin around body */
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

nav {
  background-color: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  height: 969px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%; /* Scale background image up by 75% */
  background-position: 46% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 530px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global a tag styles */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Top navigation bar */
.nav-menu {
  padding: 28px 17px;
}

.nav-menu span {
  color: white;
  padding: 28px 17px;
}

.nav-menu a {
  color: white;
  padding: 28px 17px 28px 17px;
  font-size: 16px;
  font-weight: 700;
}

.nav-menu a:hover {
  color: #1ed760;
}

/* Main content area */
.headline {
  font-size: 146px;
  line-height: 166px;
  color: #1ed760;
  font-weight: 900;
  position: relative;
  left: 225px;
  padding-bottom: 40px;
}

.first-headline {
  position: relative;
  left: -2.5em;
}

.sub-headline {
  color: #1ed760;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
  text-align: center;
}

.button-area {
  text-align: center;
}

.button-style {
  background-color: #1ed760;
  border-radius: 500px;
  padding: 14px 32px;
  color: #2941ab;
  font-weight: 700;
  border: none;
}

.button-style:hover {
  transform: scale(1.07); /* Slight zoom on hover */
  background-color: #2de26d;
  box-shadow: 3px 3px 3px #383838;
}

.button-style:active {
  background-color: #2de26d;
  transform: scale(0.95); /* Slight shrink on click */
  box-shadow: none;
}

/* Footer section styles */
.footer-container {
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  height: 346px;
}

.first-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.sub-title {
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}

.footer-menu a {
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
  color: white;
}

.footer-menu a:hover {
  color: #1ed760;
}

/* Bottom links */
.bottom-line {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.bottom-line a {
  margin-left: 15px;
  color: #919496;
}

.bottom-line a:hover {
  color: #1ed760;
}
